In [1]:
import numpy as np
import pandas as pd

In [2]:
LOWEST = -10000
HIGHEST = 10000
NUMBER = 1000

In [3]:
d0 = {'a': [0, 0, 1, 0, -1, 1, -1], 'b': [0, 1, 0, -1, 0, 1, -1]}
df = pd.DataFrame(data=d0)

rand_a = np.random.randint(LOWEST, HIGHEST, size=NUMBER)
rand_b = np.random.randint(LOWEST, HIGHEST, size=NUMBER)
d1 = {'a': rand_a, 'b': rand_b}
df0 = pd.DataFrame(data=d1)

df = df.append(df0)

In [4]:
df["sum"] = df["a"] + df["b"]
df["difference"] = df["a"] - df["b"]
df["product"] = df["a"] * df["b"]
df["quotient"] = df["a"] // df["b"]
df["xor"] = df["a"] ^ df["b"]

In [5]:
df

        a     b    sum  difference   product  quotient    xor
0       0     0      0           0         0       NaN      0
1       0     1      1          -1         0       0.0      1
2       1     0      1           1         0       inf      1
3       0    -1     -1           1         0       0.0     -1
4      -1     0     -1          -1         0      -inf     -1
..    ...   ...    ...         ...       ...       ...    ...
995  5843  3455   9298        2388  20187565       1.0   7084
996  8237  2136  10373        6101  17594232       3.0  10357
997 -2483  6958   4475       -9441 -17276714      -1.0  -4765
998  -992 -5107  -6099        4115   5066144       0.0   4141
999  5082  7649  12731       -2567  38872218       0.0   3643

[1007 rows x 7 columns]

In [6]:
df.to_csv('dataset.csv', sep=';', index=False)